@font-face{
    font-family: 'BananaGrotesk-Regular';
    src:url(https://www.core-plus.com/fonts/BananaGrotesk-Regular.woff2);
    
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'MNKYBananaGrotesk-Semibold';
    src:url(
        https://www.core-plus.com/fonts/MNKYBananaGrotesk-Semibold.woff2);
    
}

@font-face{
    font-family:'ITCGaramondStd-LtCond';
    src: url(https://www.core-plus.com/fonts/ITCGaramondStd-LtCond.woff2);
}
@font-face{
    font-family:'ITCGaramondStd-LtCond';
    src: url(
        https://www.core-plus.com/fonts/ITCGaramondStd-LtCond.woff2);
}

@font-face{
    font-family: 'MNKYBananaGrotesk-Light';
    src:url(
        https://www.core-plus.com/fonts/MNKYBananaGrotesk-Light.woff2);
}