header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 18px 32px;
    z-index: 22;
    transition: background 0.3s 0.2s, transform 0.3s;
    @include mobile{
        height: 60px;
    }
    &.hide {
        transform: translateY(-100%);
    }

    &.on {
        background: #62B9D6;
    }

    &::before {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        content: '';
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
    }

    &.toggle {
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: calc(100% + 120px);
        width: 100%;
        background: linear-gradient(rgba(2, 2, 2, 0.4) 3%, rgba(0, 0, 0, 0) 56.26%);
        z-index: -1;
        pointer-events: none;
        opacity: 1;
        transition: all 250ms ease;

    }



    .btn-nav {
        display: none;

        @include mobile {
            display: block;
            position: absolute;
            top: 18px;
            // top: 50%;
            // transform: translateY(-50%);
            right: 32px;
        }

        .menu-trigger {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            position: relative;
            width: 30px;
            height: 24px;

            :nth-child(1) {
                top: 0;
            }

            :nth-child(2) {
                top: 10px;
            }

            :nth-child(3) {
                bottom: 0;
            }

            span {
                display: inline-block;
                transition: all .4s;
                box-sizing: border-box;
                width: 100%;
                height: 4px;
                background-color: #fff;
                position: absolute;
                left: 0;
            }
        }
    }

    h1 {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
        outline-offset: 3px;
        outline: transparent solid 1px;

        @include mobile {
            top: 50%;
        }

        .logo {
            fill: #fff;
            width: 11.75rem;
            letter-spacing: 3px;
            height: 1.6875rem;
            display: block;
            font-weight: bold;
            text-align: center;
            font-size: 30px;
            font-family: 'GangwonEduPowerExtraBoldA';
            font-stretch: ultra-expanded;

            &::after {
                display: none;
            }
        }
    }

    a {
        color: #fff;
        position: relative;
        display: inline;
        padding: 0.125rem 0px;
    }

    .sub-menu {
        a::after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .2s;
        }

        a:hover::after {
            width: 100%;
        }

        li a.class::after {
            width: 100%;
        }

    }

    .nav-list {
        display: flex;
        align-items: center;

        @include mobile {
            display: none;
        }


        li {
            position: relative;
            margin-right: 1.5rem;


            a {
                font-size: 14px;
            }
        }




        a {
            font-size: 15px;
        }

    }

    .sub-menu {
        span {
            display: inline-block;
            position: relative;
            width: 15px;
            height: 12px;
            margin-left: 5px;
        }

        span.on {
            rotate: 180deg;
        }

        span::after,
        span::before {
            content: "";
            height: 1px;
            background-color: #fff;
            width: 50%;
            position: absolute;
            top: 40%;
            transform: rotate(-40deg);
            transform-origin: right bottom;
            left: 0px;
            transition: all 250ms cubic-bezier(0.65, 0, 0.35, 1);
        }

        span::after {
            left: auto;
            right: 0px;
            transform: rotate(40deg);
            transform-origin: left bottom;
        }

        .sub-list {
            display: none;
            z-index: 4;
            padding: 1rem;
            position: absolute;
            top: calc(100% + 0.75rem);
            width: 250%;
            left: 0px;
            background: #62B9D6;
            border-radius: 0.5rem;
            opacity: 0.8;

        }

        .sub-list::before {
            content: "";
            width: 0px;
            height: 0px;
            border-left: 0.3125rem solid transparent;
            border-right: 0.3125rem solid transparent;
            border-bottom: 0.3125rem solid #62B9D6;
            position: absolute;
            left: 0.5rem;
            top: -0.27rem;
            opacity: 0.8;
        }

        .sub-menu.active .sub-list {
            display: block;
        }

    }

    .nav-middle {
        @include mobile {
            position: absolute;
            top: 18px;
            left: 0;
        }

        a {
            @include mobile {
                display: none;
            }
        }

        .btn-book {
            width: 160px;
            height: 48px;
            display: inline-block;
            margin-left: 1.5rem;
            background-color: #DFFE00;
            border: 1px solid #DFFE00;
            text-decoration: none;
            color: #1F2A44;
            border-radius: 48px;
            transition: all .3s;

            @include mobile {
                width: 30px;
                height: 30px;
            }

            span {
                @include mobile {
                    display: none;
                }
            }

            .fa-solid {
                display: none;

                @include mobile {
                    display: block;
                }

            }
        }

        .btn-book:hover {
            background-color: #1F2A44;
            color: #fff;
            border: 1px solid #1F2A44;
        }
    }



}